<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.app.controller"/>
    <context:annotation-config/>
    <mvc:resources mapping="/resource/**" location="/resource/"/>




    <mvc:annotation-driven/>
    <!-- (1) 部署注意-->

    <!--<import resource="wms-web-bean.xml"/>-->


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView"/>
        <property name="prefix" value="/resource/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- 日期转换 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="webBindingInitializer">
            <bean class="com.app.controller.CustomDate"/>
        </property>
    </bean>

    <bean id="mappingJacksonHttpMessageConverter"

          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>

    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2000000" /><!-- 允许上传的最大文件大小 -->
        <property name="maxInMemorySize" value="4000000" /><!-- 允许写到内存中的最大值 -->
    </bean>

    <bean id="bikeLossTask" class="com.app.task.BikeLossTask"></bean>

    <!--<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
    <!--&lt;!&ndash; 核心线程数 &ndash;&gt;-->
    <!--<property name="corePoolSize" valueBikeLossTasktask.core_pool_size}" />-->
    <!--&lt;!&ndash; 最大线程数 &ndash;&gt;-->
    <!--<property name="maxPoolSize" valueBikeLossTasktask.max_pool_size}" />-->
    <!--&lt;!&ndash; 队列最大长度 &ndash;&gt;-->
    <!--<property name="queueCapacity" valueBikeLossTasktask.queue_capacity}" />-->
    <!--&lt;!&ndash; 线程池维护线程所允许的空闲时间，默认为60s &ndash;&gt;-->
    <!--<property name="keepAliveSeconds" valueBikeLossTasktask.keep_alive_seconds}" />-->
    <!--</bean>-->
    <task:annotation-driven/>


    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 多个拦截器，顺序执行 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.app.Interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>